.nav-container {
  text-align: center;
  min-height: 48px;
}

.nav-item {
  cursor: pointer;
  outline: none;
  font-family: GE Inspira Sans, sans-serif;
}

.nav-item:hover {
  @extend .font-shadow;
}

.nav-active {
  @extend .font-shadow;
}

.font-shadow {
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.container {
  height: 100%;
  font-family: GE Inspira Sans, sans-serif;
}

.padding-2vw {
  padding: 2vw;
}
