.user-accepts {
    border: 3px solid green! important;
}

.login-container {
    font-family: sans-serif;
    color: gray;
}

.drag-container {
    border: 3px solid gray;height:100%!important
}

.icon-to-drag {
    font-size: 15vh;
    color: #000;
}

.drag-instruction-text {
    padding-top: 4vh;
}

.proceed-to-login-button {
    margin-top: -3.7vh
}