.default-panel {
  // border-radius: 10px;
  // border-color:#C4C4C4;
}

.data-status-panel, .div-card-body {
  height: 100%;
  // background: #C4C4C4;
  // @extend .thin-box-shadow;
}

.data-status-card:hover {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4)!important;
}

.data-status-header {
  // border-radius: 10px;
  // margin-top: 20px;
  // margin-left: 20px;
  font-family: GE Inspira Sans, sans-serif;
  font-weight: bold;
  // color: white;
}

.status-panel-body {
  // margin: 20px;
  // background: #EBEFF2;
  // border-radius: 5px;
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.paradise-header-image {
  background-image: url('https://www.artranked.com/images/f5/f504b573c8da602a2b4e31370e34656e.jpeg');
  background-size: cover;
}

.purgatory-header-image {
  background-image: url('http://images.wikia.com/uncyclopedia/images/thumb/f/fa/Purgatory.jpg/400px-Purgatory.jpg');
  background-size: cover;
}

.published-header-image {
  background-image: url('https://www.geoguessr.com/images/fa5e7ffbe2ef226c4f8e6eaa38cf4aba.jpg');
  background-size: cover;
}

.mat-card-avatar {
  height: 6vw;
  width: 6vw;
}

.mat-card-title {
  font-size: 2vw;
}

.clock-icon {
  font-size: 7vw;
}

.time-value {
  font-size: 3vw;
}

.span-base-time {
  padding-top: 10px;
  color: darkgray;
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-card-content {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);;
  background-color: aliceblue;
  margin-bottom: 0px;
}

mat-card {
  padding: 0px;
  min-height: 23vh;
}

mat-card-title {
  margin-bottom: 0px;
}

#card-header {
  padding: 0 24px 0 24px;
  background-color: aliceblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  background-color: aliceblue;
}

.card-footer {
  font-size: 1vw;
  border-radius: 0px;
}

.card-footer:hover {
  background-color: #4aa0e4;
}

.span-count {
  font-size: 2vw;
  color: #3573c5;
}

.span-label {
  padding-top: 7px;
  color: #2b5ea2;
}

.div-card-time {
  font-size: 1.2vw;
  padding: 15px;
}

.span-padding-10px {
  padding-left: 10px;
}

mat-icon.card-time-icon.mat-icon.material-icons.mat-icon-inline {
  font-size: 3.35vw;
}
