<div fxLayout="column" fxLayoutAlign="center stretch" class="default-panel data-status-panel">
    <div fxFlex="7">
      <div id="data-status-header" class="data-status-header">
          <span>Data Status</span>
      </div>
    </div>
    <div fxFlex class="status-panel-body div-scroll-body">
      <div class="div-card-body" fxLayout fxLayoutAlign="space-between stretch" fxLayoutGap="25px" fxLayout.xs="column">
        <mat-card id="purgatory-card" fxFlex="30" fxLayout="column" class="data-status-card">
          <mat-card-header id="card-header" fxFlex="40" fxLayoutAlign="space-around center">
            <div mat-card-avatar class="purgatory-header-image"></div>
            <div fxLayout="column">
              <mat-card-title>Purgatory</mat-card-title>
              <span class="span-base-time">2015-03-18 11:10Z</span>
            </div>
          </mat-card-header>
          <div class="div-card-time" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex fxFlexAlign="center" fxLayout fxLayoutAlign="space-evenly">
                <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">schedule</mat-icon>
                <span class="span-padding-10px" fxFlexAlign="center">2015-03-18 11:10Z</span>
            </div>
            <div fxFlex fxLayout fxFlexAlign="center" fxLayoutAlign="center center">
              <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">flight_takeoff</mat-icon>
              <span class="span-padding-10px" fxFlexAlign="center">2018-01-20 22:19Z</span>
            </div>
          </div>
          <mat-card-content fxFlex="20" fxLayout fxLayoutAlign="center">
            <div fxFlex fxLayout fxLayoutAlign="center">
              <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
                <span class="span-count"fxFlexAlign="center">23,234</span>
                <span class="span-label" fxFlexAlign="center">Count</span>
              </div>
              <mat-divider fxFlex="1" [vertical]="true"></mat-divider>
              <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
                <span  class="span-count" fxFlexAlign="center">510</span>
                <span class="span-label" fxFlexAlign="center">Δ</span>
              </div>
            </div>
          </mat-card-content>
          <button id="purgatory-footer-button" class="card-footer"
            fxFlex="10"
            fxFlexAlign="center"
            fxFlexFill
            mat-flat-button
            color="primary"
            [routerLink]="purgatoryParadiseLink">See Details</button>
        </mat-card>

        <mat-card id="paradise-card" fxFlex="30" fxLayout="column" class="data-status-card">
          <mat-card-header id="card-header" fxFlex="40" fxLayoutAlign="space-around center">
            <div mat-card-avatar class="paradise-header-image"></div>
            <div fxLayout="column">
              <mat-card-title>Paradise</mat-card-title>
              <span class="span-base-time">2015-03-18 11:10Z</span>
            </div>
          </mat-card-header>
          <div class="div-card-time" fxFlex fxLayout="column" fxLayoutAlign="space-evenly">
            <div fxFlex fxFlexAlign="center" fxLayout fxfxLayoutAlign="space-evenly">
                <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">schedule</mat-icon>
                <span class="span-padding-10px" fxFlexAlign="center">2015-03-18 11:10Z</span>
            </div>
            <div fxFlex fxLayout fxFlexAlign="center" fxLayoutAlign="center center">
              <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">flight_takeoff</mat-icon>
              <span class="span-padding-10px" fxFlexAlign="center">2018-01-20 22:19Z</span>
            </div>
          </div>
          <mat-card-content fxFlex="20" fxLayout fxLayoutAlign="center">
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
              <span  class="span-count" fxFlexAlign="center">12,584</span>
              <span class="span-label" fxFlexAlign="center">Count</span>
            </div>
            <mat-divider fxFlex="1" [vertical]="true"></mat-divider>
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
              <span  class="span-count" fxFlexAlign="center">330</span>
              <span class="span-label" fxFlexAlign="center">Δ</span>
            </div>
          </mat-card-content>
          <button id="paradise-footer-button" class="card-footer"
            fxFlex="10"
            fxFlexAlign="center"
            fxFlexFill
            mat-flat-button
            color="primary"
            [routerLink]="purgatoryParadiseLink">See Details</button>
        </mat-card>

        <mat-card id="published-card" fxFlex="30" fxLayout="column" class="data-status-card">
          <mat-card-header id="card-header" fxFlex="40" fxLayoutAlign="space-around center">
            <div mat-card-avatar class="published-header-image"></div>
            <div fxLayout="column">
              <mat-card-title>Published</mat-card-title>
              <span class="span-base-time">2015-03-18 11:10Z</span>
            </div>
          </mat-card-header>
          <div class="div-card-time" fxFlex fxLayout="column" fxLayoutAlign="space-evenly">
            <div fxFlex fxFlexAlign="center" fxLayout fxLayoutAlign="space-evenly">
                <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">schedule</mat-icon>
                <span class="span-padding-10px" fxFlexAlign="center">2015-03-18 11:10Z</span>
            </div>
            <div fxFlex fxLayout fxFlexAlign="center" fxLayoutAlign="center center">
              <mat-icon class="card-time-icon" fxFlexAlign="center" inline="true">flight_takeoff</mat-icon>
              <span class="span-padding-10px" fxFlexAlign="center">2018-01-20 22:19Z</span>
            </div>
          </div>

          <mat-card-content fxFlex="20" fxLayout fxLayoutAlign="center">
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
              <span class="span-count" fxFlexAlign="center">13,234</span>
              <span class="span-label" fxFlexAlign="center">Count</span>
            </div>
            <mat-divider fxFlex="1" [vertical]="true"></mat-divider>
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="center">
              <span class="span-count" fxFlexAlign="center">345</span>
              <span class="span-label" fxFlexAlign="center">Δ</span>
            </div>
          </mat-card-content>
          <button id="published-footer-button" class="card-footer"
            fxFlex="10"
            fxFlexAlign="center"
            fxFlexFill
            mat-flat-button
            color="primary"
            [routerLink]="publishedLink">See Details</button>
        </mat-card>
      </div>     
    </div>
 </div>
