.data-status-panel, .div-card-body {
  height: 100%;
}

.mat-card:hover {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
}

.div-header-container {
  min-height: 30px;
  .div-header {
    font-weight: bold;
  }
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.paradise-header-image {
  border-radius: 0;
  background-size: cover;
}

.purgatory-header-image {
  border-radius: 0;
  background-size: cover;
}

.published-header-image {
  border-radius: 0;
  background-size: cover;
}

.mat-card-avatar {
  height: calc(45px + 3vw);
  width: calc(45px + 3vw);
}

.clock-icon {
  font-size: 7vw;
}

.time-value {
  font-size: 3vw;
}

.span-base-time {
  padding-top: 10px;
  color: darkgray;
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-card-content {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);;
  background-color: aliceblue;
  margin-bottom: 0px;
}

mat-card {
  padding: 0px;
  min-height: 340px;
  mat-card-title {
    font-size: calc(20px + 1vw);
    margin-bottom: 0px;
  }
}

#card-header {
  padding: 0 24px 0 24px;
  background-color: aliceblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  background-color: aliceblue;
}

.card-footer {
  font-size: 20px;
  border-radius: 0px;
}

.card-footer:hover {
  background-color: #4aa0e4;
}

.span-count {
  font-size: calc(20px + 1vw);
  color: #3573c5;
}

.span-label {
  padding-top: 7px;
  color: #2b5ea2;
}

.div-card-time {
  font-size: calc(14px + 0.5vw);
  padding: 15px;
}

.span-padding-10px {
  padding-left: 10px;
}

mat-icon.card-time-icon.mat-icon.material-icons.mat-icon-inline {
  font-size: calc(15px + 2vw);
}
