.world-search-panel {
  height: 100%;
  min-height: 100px;
}

.div-header {
  font-weight: bold;
  min-height: 30px
}

// #property-name-input {
//   margin-top: 1.6vh!important;
// }

// #property-value-input {
//   margin-top: 1.98vh!important;
// }