<div fxLayout="column" fxLayoutAlign="center stretch" class="default-panel world-search-panel">
  <div fxFlex="4" class="world-search-header">
    <span>World Search</span>
  </div>
  <div fxFlex class="search-panel-body div-scroll-body">
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <div fxFlex="5">
        <mat-button-toggle-group name="world" [(value)]="worldGroup">
          <mat-button-toggle value="paradise">Paradise</mat-button-toggle>
          <mat-button-toggle value="purgatory">Purgatory</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
            
      <div fxFlex>
        <mat-form-field>
          <mat-select id="property-dropdown" [(value)]="selectedQuery" (selectionChange)="initializeForm()" required>
            <mat-option *ngFor="let query of worldQueries" [value]="query">{{query}}</mat-option>
          </mat-select>
        </mat-form-field>  
        <div [formGroup]="propertyForm" class="div-scroll-body">
          <div formArrayName="propertyNames"
            *ngFor="let propertyName of propertyForm.get('propertyNames')['controls']; let i = index;">
            <div [formGroupName]="i" fxLayout fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="0">
              <div fxFlex="15">
                <mat-form-field>
                  <input id="property-name-input" matInput
                    [formControl]="propertyName.controls.property"
                    type="text" required
                    placeholder="Property Name"
                    [matAutocomplete]="auto" 
                    (keyup)="_filter($event.target.value)">
                  <mat-error>
                      Valid property name is required
                  </mat-error>
                  <mat-autocomplete id="property-autocomplete" #auto="matAutocomplete"
                    (opened)="propertyName.controls.property.setValue(null)"
                    (optionSelected)="propertyName.controls.property.setValue($event.option.value)">
                    <mat-option *ngFor="let option of displayedOptions" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div fxFlex="75">
                <mat-form-field *ngIf="propertyName.controls.property.valid" fxFlexFill>
                  <mat-chip-list id="chip-list" #chipList>
                    <mat-chip *ngFor="let value of propertyName.controls.values.value" removable="true" (removed)="remove(value, i)">
                      {{value}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input id="property-value-input" placeholder="Values"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      matChipInputAddOnBlur="true"
                      (matChipInputTokenEnd)="add($event, i)">
                  </mat-chip-list>
                  <mat-error>
                      Valid property value is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="3">
                <button mat-icon-button color="primary" (click)="removeProperty(i)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="disableAddNewProperty || propertyForm.invalid" mat-icon-button disableRipple="true" color="primary" (click)="addNewProperty()"><mat-icon>add</mat-icon> Add Another</button>
      </div>
    </div>
  </div>
  <div fxFlex="4" fxFlexAlign="end" class="world-search-footer">
    <button id="world-search-button" mat-raised-button color="primary" [disabled]="propertyForm.invalid || !!!propertyForm.value.propertyNames.length">Search</button>
  </div>
</div>
