<div fxLayout="row"
  fxLayoutGap="3rem"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="8rem">
  <div fxFlex fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="start">
    <div fxFlex="5" class="div-header">
      <span>{{sasiConfigLabels.restartStatus}}</span>
    </div>
    <mat-card>
      <mat-card-content fxLayout="column" fxLayoutGap="2vw" fxLayoutAlign="center stretch" fxLayoutGap.xs="5px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentStatusLabels.currentServerTime}}</div>
            <div fxFlex> 2018-09-12 19:32</div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentStatusLabels.nextRestartTime}}</div>
            <div fxFlex> 2018-09-12 19:32</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxFlex fxLayout="column" fxLayoutGap="1vw" fxLayoutGap.xs="0.3vw" fxLayoutAlign="center">
    <div fxFlex="5" class="div-header">
      <span>{{sasiConfigLabels.restartConfig}}</span>
    </div>
    <mat-card>
      <mat-card-content fxLayout="column" fxLayoutGap="2vw" fxLayoutAlign="center stretch" fxLayoutGap.xs="5px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentConfigLabels.sasiDataServerUrl}}</div>
            <div fxFlex>/sasi-server/data</div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentConfigLabels.agentName}}</div>
            <div fxFlex>Restart Agent</div>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentConfigLabels.restartOption}}</div>
            <mat-form-field>
              <mat-select [placeholder]="restartAgentConfigLabels.restartOptionDropdownPlaceholder">
                <mat-option value="daily">
                  Daily (24-hour clock)
                </mat-option>
                <mat-option value="periodically">
                  Periodically (Everty HH:mm)
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="1vw" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{restartAgentConfigLabels.restartOptionTime}}</div>
            <mat-form-field>
              <input matInput [placeholder]="restartAgentConfigLabels.restartOptionTimePlaceholder" autocomplete="off"/>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px">
        <button mat-raised-button color="accent">{{restartAgentConfigLabels.saveBtn}}</button>
        <button mat-raised-button color="primary">{{restartAgentConfigLabels.cancelBtn}}</button>
      </div>
  </div>
</div>
