.container {
  height: 90%;
  font-family: GE Inspira Sans, sans-serif;
  padding: 0 1rem 1rem 1rem;
}

.default-panel {
  border-radius: 10px;
  border-color:#C4C4C4;
}

.restart-agent-panel {
  height: 100%;
  background: #C4C4C4;
  @extend .thin-box-shadow;
}

.restart-agent-header {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: GE Inspira Sans, sans-serif;
  font-weight: bold;
  color: white;
}

.restart-agent-body {
  margin: 20px;
  padding: 20px;
  background: #EBEFF2;
  border-radius: 5px;
}

.restart-agent-footer {
  margin: 0 20px 20px 0;
  padding-bottom: 30px;
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.div-restart-agent-footer {
  margin: 0 20px 20px 0;
  padding-bottom: 30px;
}
