<!-- <app-banner></app-banner> -->
<div style="padding:40px!important"  class="container"
  fxLayout="row"
  fxLayoutGap="2rem"
  fxFlexFill
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="1rem">
  <div fxFlex="60">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-data-status  [statusTime]="statusTime" [worldObjects]="worldObjects"></app-data-status> -->
  <div class="panel-line-divider" ></div>
  <app-data-report fxFlex="30" [dataAgentList]="dataAgentList"></app-data-report>
</div>

