<div class="footer-container" fxFlexLayout fxLayoutAlign="start center">
  <div fxFlex="40"></div>
  <div fxFlex="20">
      <mat-toolbar class="footer-mat-toolbar" color="primary">
          <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <div class="footer-upper-section" fxFlex="96">
              <!-- inner flex -->
              <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="6vw">
                <div fxFlex="20"> </div>
                <div fxFlex="10">
                  <img class="ge-logo-img" src="http://www.stickpng.com/assets/images/5847f7ffcef1014c0b5e48a6.png">
                </div>
                <div fxFlex="30" style="padding-right: 5vw">
                    <span>GITHUB</span>
                    <span>COOKIES</span>
                    <span>TERMS</span>
                    <span>PRIVACY</span>
                </div>
                <div fxFlex="25">
                    <span>DOCUMENTATION</span>
                    <span>CONTACT US</span>
                    <span></span>
                    <span></span>
                </div>
                <div fxFlex>
                    <mat-icon></mat-icon>
                    <mat-icon></mat-icon>
                </div>
              </div>
              <!-- /inner flex -->
            </div>
            <div class="footer-lower-section" fxFlex fxLayoutAlign="center">
              <!-- <span>© 2018 GENERAL ELECTRIC</span> -->
            </div>
          </div>
      </mat-toolbar>
  </div>
  <div fxFlex="40"></div>
</div>
