.footer-mat-toolbar {
  background: #2b5ea2;
  line-height: 26px;
}

.footer-container {
  background-color: #ffffff;
  font-family: GE Inspira Sans, sans-serif;
}

.footer-upper-section {
  font-size: 1.2vh;
  padding-top: .5vh;
}

.footer-lower-section {
  font-size: 15px;
  color: #525156;
  padding: 5px;
}

.ge-logo-img {
  height: 42x;
  width: 42px;
  margin-top: .5vh;
  filter: invert(100%);
}

.thin-top-shadow {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1)
}

.footer-mat-toolbar {
  padding-top: 10px;
  font-size: 12px;
  background: #2b5ea2;
}

mat-icon {
  padding-left: 10px
}