:host ::ng-deep {
  span.span-width-3v {
    display: inline-block;
    width: 3.5vw;
  }
}

.purgatory-panel {
  height: 100%;
}

.purgatory-card:hover {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.3)!important;
  background: whitesmoke;
}

.div-header {
  font-weight: bold;
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#span-nav {
  color: rgb(53, 115, 197);
  cursor: pointer;
}

