<!-- <div fxLayout="column" fxFlexFill fxLayoutAlign="center stretch"> -->
    <!-- <div fxFlex="90" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between end" class="banner-container">
        <div fxFlex class="banner-title">
          <div class="sasi-title">
            <span>SASI</span>
            <mat-icon>flight_takeoff</mat-icon>
          </div> 
          <div>
            Your friendly airline data management system
          </div>
        </div>
        <div fxFlex fxShow.sm="false" fxShow.xs="false" fxShow="true"><img class="ge-logo-img" [src]="geLogoSrc"/></div>
    </div>
    <div fxFlex fxFlexAlign="center">
      <mat-icon>expand_more</mat-icon>
    </div>  -->
<img class="ge-banner" src="../../../../assets/ge-banner.PNG">

