table {
  width: 100%;
  box-shadow: none;
}

.mat-header-cell {
  background: #3573c5;
  color: #FFF;
  ::ng-deep .mat-sort-header-arrow {
    color: #FFF;
  }
  font-size: 15px;
}

tr.mat-row:hover {
  background: -webkit-linear-gradient(top, #ebeff2, #fff);
}

.cell-clickable {
  cursor: pointer;
}

// @TODO: Make columns class dynamic
.mat-column-select {
  width: 3vw;
}

.mat-column-propertyName {
  width: 10vw;
  font-weight: bold;
  &.mat-header-cell {
    font-weight: normal;
  }
}

.mat-column-purgatoryTime {
  width: 8vw;
}

.mat-column-purgatoryEvents, .mat-column-purgatoryObj {
  width: 4vw;
}

.mat-column-qSize {
  width: 10vw;
}

.mat-column-validationIEPM, .mat-column-validationExcl,
.mat-column-validationFixed, .mat-column-validationOEPM {
  width: 2vw;
}

.mat-column-paradiseTime {
  width: 8vw;
}

.mat-column-paradiseEvents, .mat-column-paradiseObj {
  width: 4vw;
}

.mat-column-publish_0_Time {
  width: 8vw;
}

.mat-column-publish_0_Events, .mat-column-publish_0_Obj {
  width: 4vw;
}

.mat-column-publish_1_Time {
  width: 8vw;
}

.mat-column-publish_1_Events, .mat-column-publish_1_Obj {
  width: 4vw;
}

.mat-column-publish_2_Time {
  width: 8vw;
}

.mat-column-publish_2_Events, .mat-column-publish_2_Obj {
  width: 4vw;
}

.mat-column-objectname {
  width: 50%;
  font-weight: bold;
  &.mat-header-cell {
    font-weight: normal;
  }
}

.mat-column-purgatoryCount, .mat-column-paradiseCount {
  width: 25%;
}


