.container {
  padding: 2vw;
}

.div-header {
  font-weight: bold;
  min-height: 30px;
  margin-bottom: 10px!important;
}

.div-title {
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  margin-bottom: -15px!important;
}

#span-nav {
  color: #3573c5;
  cursor: pointer;
}

#span-object {
  font-size: 20px;
}

#span-world {
  font-size: 12px;
  color: gray;
  font-weight: lighter;
}

.padding-5px {
  padding: 0 5px 0 5px;
}
