.header-mat-toolbar {
  background: #2b5ea2;;
  height: 90px;
  @extend .thin-box-shadow;
}

.user-img {
  height: 50px;
  width: 50px;
  border-color: #fff;
  border-style: solid;
  border-radius: 28px;
  margin-top: 1vh;
  margin-left: 1vw;
  @extend .thick-box-shadow;
}

.brand-icon {
  background: transparent;
}

.nav-icon {
  padding: 0 14px;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.thick-box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.dark-theme-toggle {
  font-size: 17px;
}
