
.data-report-panel {
  height: 100%;
}

.div-header-container {
  min-height: 30px;
  .div-header {
    font-weight: bold;
  }
}

.mat-card {
  margin-bottom: 20px;
}

.mat-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#span-agent-total {
  float: right;
}

.thin-font-shadow {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.span-label {
  color: #2b5ea2;
}

.span-detail {
  font-size: calc(15px + 0.3vw);
  color: #3573c5;
  padding-top: 7px;
}

mat-card {
  height: 36%;
  padding: 0px;
  min-height: 165px;
  mat-card-header {
    padding: 33px 24px 0 24px;
    min-height: 110px;
    mat-card-title {
      font-size: calc(17px + 0.7vw);
    }
  }
  mat-card-content {
    padding: 24px;
    margin-bottom: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.12);;
    background-color: aliceblue;
    margin-bottom: 0px;
    min-height: 80px;
  }
  mat-icon {
    font-size: calc(0.5vw + 5vh);
    width: calc(0.5vw + 5vh);
    height: calc(0.5vw + 5vh);
  }
}
