.div-header {
  font-weight: bold;
  min-height: 30px;
}

.padding-top-10 {
  padding-top: 10px;
}

.span-label {
  font-weight: bolder;
}

.mat-list .mat-list-item .mat-list-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.mat-progress-bar {
  height: 7px;
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 100;
}
