<div fxLayout="row"
  fxLayoutGap="3rem"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="1rem">
  <div fxFlex="50" fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="start">
    <div fxFlex="5" class="div-header">
      <span>Data Server Administration</span>
    </div>
    <mat-card fxFlex class="box-shadow">
      <mat-card-header>
        <mat-card-title>SASI Configuration Properties</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40">
            <mat-form-field>
              <mat-select placeholder="Property">
                <mat-option value="fileSourcePath">
                  File Source Path
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput placeholder="Value" autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            Base Date/time
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput placeholder="yyyy-MM-dd HH:mm" autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            Time Mode
          </div>
          <div fxFlex>
              <mat-form-field>
                <mat-select placeholder="Property">
                  <mat-option value="static">
                    Static
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex class="box-shadow">
      <mat-card-header>
        <mat-card-title>Data Window Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            Days Backward
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            Days Forward
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px" class="div-file-agent-footer">
      <button mat-raised-button color="warn">Stop</button>
      <button mat-raised-button color="primary">Start</button>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxFlex="50" fxLayout="column" fxLayoutGap="1vw" fxLayoutGap.xs="1vw">
    <div fxFlex="4" class="div-header">
      <span>Processing Information</span>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Data Agent Status
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let agent of agentStatus">
            <mat-icon mat-list-icon>warning</mat-icon>
            <h4 mat-line>{{agent.name}}</h4>
            <p mat-line> {{agent.status}} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px" class="div-file-agent-footer">
      <button mat-raised-button color="accent">Restart Agent</button>
      <button mat-raised-button color="primary">Process Files</button>
    </div>
  </div>
</div>
