<div fxLayout="row"
  fxLayoutGap="3rem"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="1rem">
  <div fxFlex="50" fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="start">
    <div fxFlex="5" class="div-header">
      <span>{{sasiConfigLabels.processingParameters}}</span>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{fileAgentParametersLabels.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayoutGap.xs="5px">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{fileAgentParametersLabels.sasiHost}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="fileAgentParametersLabels.sasiHostPlaceHolder" autocomplete="off" required>
                <mat-error>{{fileAgentParametersLabels.sasiHostErrMsg}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{fileAgentParametersLabels.agentName}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="fileAgentParametersLabels.agentNamePlaceholder" autocomplete="off" required>
                <mat-error>{{fileAgentParametersLabels.agentNameErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{fileAgentParametersLabels.worldRefFile}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="fileAgentParametersLabels.worldRefFilePlaceholder" autocomplete="off" required>
                <mat-error>{{fileAgentParametersLabels.worldRefFileErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{fileAgentParametersLabels.eventSrcDirectory}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="fileAgentParametersLabels.eventSrcDirectoryPlaceHolder" autocomplete="off" required>
                <mat-error>{{fileAgentParametersLabels.eventSrcDirectoryErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{fileAgentParametersLabels.noteTitle}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let note of fileAgentParametersLabels.notes">{{note}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px">
      <button mat-raised-button color="warn">{{fileAgentParametersLabels.stopBtn}}</button>
      <button mat-raised-button color="primary">{{fileAgentParametersLabels.startBtn}}</button>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxFlex="50" fxLayout="column" fxLayoutGap="1vw" fxLayoutGap.xs="1vw">
    <div fxFlex="4" class="div-header">
      <span>{{sasiConfigLabels.processingInfo}}</span>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{fileAgentProcessingInfoLabels.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let agent of agentStatus">
            <mat-icon *ngIf="agent.status === 'STOPPED'" color="warn" mat-list-icon>{{fileAgentProcessingInfoLabels.stoppedStatusIcon}}</mat-icon>
            <mat-icon *ngIf="agent.status === 'RUNNING'" color="primary" mat-list-icon>{{fileAgentProcessingInfoLabels.runningStatusIcon}}</mat-icon>
            <mat-icon *ngIf="agent.status === 'IDLE'" color="accent" mat-list-icon>{{fileAgentProcessingInfoLabels.idleStatusIcon}}</mat-icon>
            <h4 mat-line>{{agent.name}}</h4>
            <p mat-line> {{agent.status}} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px" class="div-file-agent-footer">
      <button mat-raised-button color="accent">{{fileAgentProcessingInfoLabels.restartBtn}}</button>
      <button mat-raised-button color="primary">{{fileAgentProcessingInfoLabels.processBtn}}</button>
    </div>
  </div>
</div>
