<div fxLayout="column" fxLayoutAlign="center stretch" class="default-panel world-summary-panel">
  <div fxFlex="7">
      <div class="world-summary-header">
          <span>World View</span>
      </div>
  </div>
  <div fxFlex class="summary-panel-body div-scroll-body">
      <div *ngIf="!!worldSummaryData.length; else noRecords">
        <app-sasi-mat-table id="world-summary-table"
          [columnObjects]="worldSummaryColumns"
          [data]="worldSummaryData"
          sortedColumn="propertyName">
        </app-sasi-mat-table>
      </div>

      <ng-template #noRecords>
        <!-- NO RESULT -->
        <app-no-records-found></app-no-records-found>
      </ng-template>
      
    </div>
</div>

