.default-panel {
  border-radius: 10px;
  border-color:#C4C4C4;
}

.world-summary-panel {
  height: 100%;
  background: #C4C4C4;
  @extend .thin-box-shadow;
}

.world-summary-header {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: GE Inspira Sans, sans-serif;
  font-weight: bold;
  color: white;
}

.summary-panel-body {
  margin: 20px;
  background: #EBEFF2;
  border-radius: 5px;
}

.thin-box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep {
  td.mat-cell {
    border-bottom-width: 0px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  }
  tr.mat-row:hover {
    background: -webkit-linear-gradient(top, #ebeff2, #fff);
  }
}
