<div fxLayout="column" fxLayoutAlign="center stretch" class="world-summary-panel summary-panel-body">
  <div fxFlex="7" id="div-header" class="div-header">
    <span>{{worldViewerLabels.worldView}}</span>
  </div>
  <div fxFlex class="world-summary-panel div-scroll-body">
    <app-sasi-mat-table *ngIf="!!worldSummaryData.length; else noRecords"
      id="world-summary-table"
      (cellClicked)="goToResults($event)"
      [columnObjects]="worldSummaryColumns"
      [data]="worldSummaryData"
      sortedColumn="propertyName">
    </app-sasi-mat-table>
  </div>
</div>

<ng-template #noRecords>
  <!-- NO RESULT -->
  <app-no-records-found *ngIf="!isDataLoading" class="world-summary-panel"></app-no-records-found>
</ng-template>

