<div fxLayout="row"
  fxLayoutGap="3rem"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="5rem">
  <div fxFlex="40" fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="start">
    <div fxFlex="5" class="div-header">
      <span>{{sasiConfigLabels.processingParameters}}</span>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{dataServerParametersLabels.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayoutGap.xs="5px">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{dataServerParametersLabels.sasiHost}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="dataServerParametersLabels.sasiHostPlaceHolder" autocomplete="off" required>
                <mat-error>{{dataServerParametersLabels.sasiHostErrMsg}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{dataServerParametersLabels.agentName}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="dataServerParametersLabels.agentNamePlaceholder" autocomplete="off" required>
                <mat-error>{{dataServerParametersLabels.agentNameErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{dataServerParametersLabels.worldRefFile}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="dataServerParametersLabels.worldRefFilePlaceholder" autocomplete="off" required>
                <mat-error>{{dataServerParametersLabels.worldRefFileErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <div fxFlex="40" fxFlexAlign="center">{{dataServerParametersLabels.eventSrcDirectory}}</div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [placeholder]="dataServerParametersLabels.eventSrcDirectoryPlaceHolder" autocomplete="off" required>
                <mat-error>{{dataServerParametersLabels.eventSrcDirectoryErrMsg}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{dataServerParametersLabels.noteTitle}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let note of dataServerParametersLabels.notes">{{note}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px">
      <button mat-raised-button color="warn">{{dataServerParametersLabels.stopBtn}}</button>
      <button mat-raised-button color="primary">{{dataServerParametersLabels.startBtn}}</button>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxFlexAlign="start" fxFlex fxLayout="column" fxLayoutGap="1vw" fxLayoutGap.xs="0.3vw" fxLayoutAlign="center">
    <div fxFlex="4" class="div-header">
      <span>{{dataServerAgentsLabels.title}}</span>
    </div>
      <app-sasi-mat-table 
        [columnObjects]="dataAgentColumnObjects"
        [data]="dataAgentData"
        [hasSelectAll]="false"
        sortedColumn="name"
        stickyHeader="false">
      </app-sasi-mat-table>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px">
      <button mat-raised-button color="accent">{{dataServerAgentsLabels.restartBtn}}</button>
      <button mat-raised-button color="primary">{{dataServerAgentsLabels.processBtn}}</button>
    </div>
  </div>
</div>
