.div-header {
  font-weight: bold;
  min-height: 30px;
}

.no-records-panel {
  height: 100%;
}

.text-align-center {
  text-align: right;
}

.mat-progress-bar {
  height: 7px;
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 100;
}
