<mat-progress-bar *ngIf="isDataLoading" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row"
  fxLayoutGap="3rem"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap.xs="1rem">
  <div fxFlex="40" fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="start">
    <div fxFlex="5" class="div-header">
      <span>{{sasiConfigLabels.dataServerAdmin}}</span>
    </div>
    <mat-card fxFlex class="box-shadow">
      <mat-card-header>
        <mat-card-title>{{dataServerAdminLabels.sasiConfigTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40">
            <mat-form-field>
              <mat-select 
                [placeholder]="dataServerAdminLabels.propertyDropdownPlaceholder" 
                [(value)]="dataServerProperties.property">
                <mat-option value="FileSourcePath">
                  File Source Path
                </mat-option>
                <mat-option value="option2">
                  Option2
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput
                [(value)]="dataServerProperties.propertyValue"
                [placeholder]="dataServerAdminLabels.propertyValuePlaceholder"
                autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            {{dataServerAdminLabels.baseDateTime}}
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput
                [(value)]="dataServerProperties.baseDateTime"
                [placeholder]="dataServerAdminLabels.baseDateTimePlaceholder"
                autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            {{dataServerAdminLabels.timeMode}}
          </div>
          <div fxFlex>
              <mat-form-field>
                <mat-select 
                  [(value)]="dataServerProperties.timeMode"
                  [placeholder]="dataServerAdminLabels.timeModeDropdownPlaceHolder">
                  <mat-option value="static">
                    Static
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex class="box-shadow">
      <mat-card-header>
        <mat-card-title>{{dataServerAdminLabels.dataWindowSettingsTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            {{dataServerAdminLabels.daysBackward}}
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput class="text-align-center"
                [(value)]="dataServerProperties.daysBackward"
                type="number" min="0"
                autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px">
          <div fxFlex="40" fxFlexAlign="center">
            {{dataServerAdminLabels.daysForward}}
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput class="text-align-center"
                [(value)]="dataServerProperties.daysBackward"
                type="number" min="0"
                autocomplete="off" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px" class="div-file-agent-footer">
      <button mat-raised-button color="warn">{{dataServerAdminLabels.stopBtn}}</button>
      <button mat-raised-button color="primary">{{dataServerAdminLabels.startBtn}}</button>
    </div>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxFlex fxLayout="column" fxLayoutGap="1vw" fxLayoutGap.xs="0.3vw">
    <div fxFlex="4" class="div-header">
      <span>{{dataServerAgentsLabels.title}}</span>
    </div>
    <div fxFlex *ngIf="!!dataAgents.length; else elseTemplate">
      <app-sasi-mat-table
        [columnObjects]="dataAgentColumnObjects"
        [data]="dataAgents"
        [hasSelectAll]="false"
        sortedColumn="agentName"
        stickyHeader="false">
      </app-sasi-mat-table>
    </div>
    <div fxFlex="5" fxFlexAlign="end" fxLayoutGap="20px">
      <button mat-raised-button color="accent">{{dataServerAgentsLabels.restartBtn}}</button>
      <button mat-raised-button color="primary">{{dataServerAgentsLabels.processBtn}}</button>
    </div>
  </div>
</div>

<ng-template #elseTemplate>
  <app-no-records-found class="no-records-panel"></app-no-records-found>
</ng-template>
