<div fxLayout="column" fxLayoutAlign="center stretch" class="default-panel data-agent-panel">
  <div fxFlex="4" class="data-agent-header">
    <span>Data Agents</span>
  </div>
  <div fxFlex class="data-agent-body div-scroll-body">
    <app-sasi-mat-table 
      [columnObjects]="dataAgentColumnObjects"
      [data]="dataAgentData"
      [hasSelectAll]="false"
      sortedColumn="name">
    </app-sasi-mat-table>
  </div>
  <div fxFlex="5" class="data-agent-footer">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
        <div fxLayoutGap="20px">
            <button mat-raised-button color="primary" disabled>Remove</button>
            <button mat-raised-button color="primary" disabled>Edit</button>
        </div>
        <div>
            <button mat-raised-button color="primary">Add</button>
        </div>
      </div>
  </div>

</div>